html,
.navbar-brand{
    font-family: 'GmarketSansBold';
    font-size: 24px;
    color: darkslategrey;
}
.navbar-brand:hover{
  color:teal;
}
.nav-link{
  font-family: 'GoyangDeogyang';
  font-size: 18px;
  color:rgb(72, 117, 117);
  margin-left: 15px;
  margin-right: 20px;
}

h4{float:left;}

nav{
    background:rgb(204, 253, 238);
  }
h6{
  color:white;
}

 #navbarDropdown{
   color: darkslategrey;
 }
 
 #login{
  font-family: 'GoyangIlsan';
  color:darkslategray;
  font-size:14px;
  text-decoration:none;
  position: relative;
  bottom:-3px;

  margin-right: -1px;
  float:right;
 }
 
 #image {
  margin-right: 5px;
  border-radius: 0%;
 }