{%extends 'base.html'%}
{% block contents %}
<script>
    function update_delete_confirm() {
        var delete_c = confirm('정말 삭제하시겠습니까?');
        if (!delete_c) {
            event.defaultPrevented();
        }
        else{
            location.href="{%url 'delete' board.id%}"
        }
    }
</script>
<style>
    #detail_title {
        font-weight: bold;
        font-size: 25px;
    }

    .none_display {
        display: none;
    }
    body{
            font-size: 16px;
        }
    #write{
            font-size: 16px;
        }
</style>

<body>
    <br>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="none_display">{{board.hit_update_counter}}</div>
                <div id="detail_title">{{board.subject}}</div>
                <div>{{board.created_date}}</div>
                <hr>
                <div>
                    {{board.content}}
                </div>
                <hr>
                {%if user.username == board.author.username%}
                <a id="update" href="{%url 'update' board.id%}" onclick="update_delete_confirm()">수정</a>
                <!-- <a href="{%url 'delete' board.id%}">삭제</a> -->
                <a id="delete" href="javascript:update_delete_confirm()">삭제</a>
                {%else%}
                <div class="none_display">
                    <a href="#" onclick="Unauthorized()">수정</a>
                    <a href="#" onclick="Unauthorized()">삭제</a>
                </div>
                {%endif%}
                {% if board.upload_files %}
                <a href="{% url 'file_download' board.id %}">첨부파일 다운로드</a>
                {%endif%}
            </div>
        </div>
    </div>
</body>
{% endblock %}