<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <!-- <form action ="{% url 'sub_insert' %}" id="" method="POST">
        {%csrf_token%}
    <div style="margin-top: 20px; margin-bottom: 20px;margin-left: 20px;">과목 검색
        <input class="item" type="text" name="subname">
        <button class="icon" style="background-color: white;" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button> 
        <button type="submit" class="icon" style="background-color: white; "><i class="fa fa-plus"></i></button>
    </div>
    </form>
    <table class="table table-striped">
        <th>과목명&nbsp/&nbsp교수</th>
        {% for sub in subboard %}
        <tr>
            <td>{{sub.subname}}</td>
        </tr>
        {%endfor%}
    </table> -->
    <!-- Button trigger modal -->
</body>