{%extends 'base.html'%}
{% block contents %}

<head>
    <style>
        body {
            font-size: 16px;
        }

        #write {
            font-size: 16px;
        }

        .table_th {
            width: 10%;
            margin-left: auto;
            margin-right: auto;
        }

        .board_form {
            width: 100%;
        }
        #write_container{
            margin-top: 100px;
        }
    </style>
</head>
<script>
    function cancle_confirm(url) {
        var cancle = confirm('글 작성을 취소할까요?');
        if (cancle == true) {
            location = url;
        }
    }
</script>

<body>
    <div class="container" id="write_container">
        <form action="{%url 'create'%}" method="POST" enctype="multipart/form-data">
            {%csrf_token%}

            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row" class="table_th">제목</th>
                        <td>
                            <div>{{form.subject}}</div>
                            <!-- <input style="width:100%;" type="text" name="title" required> -->
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="table_th">내용</th>
                        <td>{{form.content}}</td>
                        <!-- <textarea class="form_control" style="width:100%;" rows="10" name="body" required></textarea> -->
                    </tr>
                    <tr>
                        <th scope="row" class="table_th">첨부파일</th>
                        <td colspan="2">
                            <!-- <div class="form-group"> -->
                            {{form.upload_files}}
                            <!-- <input type="file" name='file' class="form-control-file" id="exampleFormControlFile1"> -->
                            <!-- </div> -->
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="float: right;">

                <a href="javascript:cancle_confirm({%url 'board'%})"><span class="btn btn-outline-dark"
                        id="write">취소하기</span></a>
                <input class="btn btn-outline-dark" id="write" type="submit" value="제출하기">
            </div>
        </form>
    </div>
</body>
{% endblock %}